# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.swp

# Django
*.log
local_settings.py
db.sqlite3
media

# Environments
venv
env
ENV
.venv
.ENV

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.egg-info
.installed.cfg
*.egg
wheels

# Distribution / Packaging
.Python
*.manifest
*.spec

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
.pytest_cache
cover
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.sublime*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
